<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Yireh </title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script type="text/javascript">

            var i=1;
            var cantonessan=$("#cantonessan").val();
            var cantonesala="${cantonesala}";
            var cantonescar="${cantonescar}";
            var cantonesher="${cantonesher}";
            var cantonesgua="${cantonesgua}";
            var cantonespun="${cantonespun}";
            var cantoneslim="${cantoneslim}";



            function cambiarProvincia(value) {
                if (value.length == 0) document.getElementById("category").innerHTML = "<option></option>";
                else {
                    switch value{
                    case "San Jose":
                        var catOptions = "";
                        for (categoryId in cantonessan) {
                            catOptions += "<option>" + mealsByCategory[value][categoryId] + "</option>";
                        }
                        document.getElementById("category").innerHTML = catOptions;
                        break;
                    }
                }
            }
        </script>
    </head>
    <body>
        <section th:fragment="listado2" id="cantones2">
            <input type="hidden" id="cantonessan" th:value="${cantonessan}"/>
            <input type="hidden" id="cantonesala" th:value="${cantonesala}"/>
            <input type="hidden" id="cantonescar" th:value="${cantonescar}"/>
            <input type="hidden" id="cantonesher" th:value="${cantonesher}"/>
            <input type="hidden" id="cantonesgua" th:value="${cantonesgua}"/>
            <input type="hidden" id="cantonespun" th:value="${cantonespun}"/>
            <input type="hidden" id="cantoneslim" th:value="${cantoneslim}"/>

            
            <select name="provincia" id="provincia" onChange="cambiarProvincia(this.value)">
                <option value="" disabled selected>Seleccione</option>
                <option th:each="provincia : ${provincias}">
                    [[${provincia.nombre}]]
                </option>
            </select>

            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
            <datalist id="category">
              <option value="San Francisco">
              <option value="New York">
              <option value="Seattle">
              <option value="Los Angeles">
              <option value="Chicago">
            </datalist>


            <select name="category" id="category">
                <option value="" disabled selected>Seleccione una provincia</option>
            </select>
        </section>
        <section th:fragment="listado" id="cantones">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Cantones</h4>
                            </div>
                            <div th:if="${cantones != null and !cantones.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Canton</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="canton, contador : ${cantones}">
                                            <td>[[${canton.idCanton}]]</td>
                                            <td>[[${canton.nombre}]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${cantones == null or cantones.empty}">
                                <span>Lista vacía</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        </section>
    </body>
</html>