<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Yireh </title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script type="text/javascript">

            var i=1;
            var cantonessan=$("#cantonessan").val();
            var cantonesala="${cantonesala}";
            var cantonescar="${cantonescar}";
            var cantonesher="${cantonesher}";
            var cantonesgua="${cantonesgua}";
            var cantonespun="${cantonespun}";
            var cantoneslim="${cantoneslim}";



            function cambiarProvincia(value) {
                if (value.length == 0) document.getElementById("category").innerHTML = "<option></option>";
                else {
                    switch value{
                    case "San Jose":
                        var catOptions = "";
                        for (categoryId in cantonessan) {
                            catOptions += "<option>" + mealsByCategory[value][categoryId] + "</option>";
                        }
                        document.getElementById("category").innerHTML = catOptions;
                        break;
                    }
                }
            }
        </script>
    </head>
    <body>
        <section th:fragment="listado2" id="cantones2">
            <input type="hidden" id="provinciasJSON" th:value="${provinciasJSON}"/>
            <input type="hidden" id="cantonesJSON" th:value="${cantonesJSON}"/>
            <input type="hidden" id="distritosJSON" th:value="${distritosJSON}"/>

            
            <select name="provincia" id="provincia" onchange="sendPost('http://localhost:8082/canton/lista/',encontrarProvincia(this.value))">
                <option th:if="${provincia == null}" value="" disabled selected>Seleccione</option>
                <option th:if="${provincia != null}">
                    [[${provincia.nombre}]]
                </option>
                <option th:each="provincia : ${provincias}">
                    [[${provincia.nombre}]]
                </option>
            </select>

            <select name="canton" id="canton" onchange="sendPost('http://localhost:8082/canton/lista/',encontrarProvincia(document.getElementById('provincia').value)+'/'+encontrarCanton(this.value))">
                <option th:if="${canton == null}" value="" disabled selected>Seleccione</option>
                <option th:if="${canton != null}">
                    [[${canton.nombre}]]
                </option>
                <option th:each="canton: ${cantones}">
                    [[${canton.nombre}]]
                </option>
            </select>

            <select name="distrito" id="distrito" onchange="sendPost('http://localhost:8082/canton/lista/',encontrarProvincia(document.getElementById('provincia').value)+'/'+encontrarCanton(document.getElementById('canton').value)+'/'+encontrarDistrito(this.value))">
                <option th:if="${distrito == null}" value="" disabled selected>Seleccione</option>
                <option th:if="${distrito != null}">
                    [[${distrito.nombre}]]
                </option>
                <option th:each="distrito: ${distritos}">
                    [[${distrito.nombre}]]
                </option>
            </select>


            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>

        </section>
        <section th:fragment="listado" id="cantones">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Cantones</h4>
                            </div>
                            <div th:if="${cantones != null and !cantones.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Canton</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="canton, contador : ${cantones}">
                                            <td>[[${canton.idCanton}]]</td>
                                            <td>[[${canton.nombre}]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${cantones == null or cantones.empty}">
                                <span>Lista vacía</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        </section>
    </body>
</html>