<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal"
                                data-bs-target="#agregar">
                            <i class="fas fa-plus"></i> Nuevo
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="listado" id="materiasPrimas">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Materias Primas</h4>
                            </div>
                            <div th:if="${materiasPrimas != null and not materiasPrimas.empty}">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Reservas</th>
                                            <th>Unidad de Medición</th>
                                            <th>Marca</th>
                                            <th>Costo por Unidad</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="materiaPrima, contador : ${materiasPrimas}">
                                            <td th:text="${contador.count}"></td>
                                            <td th:text="${materiaPrima.nombre}"></td>
                                            <td th:text="${materiaPrima.reservas}"></td>
                                            <td th:text="${materiaPrima.unidadDeMedicion}"></td>
                                            <td th:text="${materiaPrima.marca}"></td>
                                            <td th:text="${materiaPrima.costoPorUnidad}"></td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/materiaprima/eliminar/}+${materiaPrima.idMateriaPrima}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-angle-double-right"></i> Eliminar
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/materiaprima/editar/}+${materiaPrima.idMateriaPrima}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-angle-double-right"></i> Actualizar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${materiasPrimas == null or materiasPrimas.empty}">
                                <span>Lista vacía</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="agregar">
            <div id="agregar" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar Puesto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/puesto/guardar}" th:object="${puesto}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <section th:replace="puesto/fragmentos :: camposForm"/>    
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="editar">            
            <form method="POST"
                  th:action="@{/puesto/guardar}"
                  th:object="${puesto}"
                  class="was-validated">
                <input type="hidden" name="idPuesto" th:field="*{idPuesto}"/>
                <section th:replace="puesto/fragmentos :: botonesEditar"/> 
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Actualizar</h4>
                                    </div>
                                    <div class="card-body">
                                        <section th:replace="puesto/fragmentos :: camposForm"/>         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>

