<!DOCTYPE html>
<html>
    <head th:replace="layout/plantilla :: head">
        <title>Materias Primas</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        </br>
        </br>
        <section th:replace="materiaprima/fragmentos :: botonesAgregar"/>
        </br>
        </br>
        <section th:replace="materiaprima/fragmentos :: listado"/>
        <section th:replace="materiaprima/fragmentos :: agregar"/>
    </div>
</body>
<footer th:replace="layout/plantilla :: footer"/>
</html>
