<!DOCTYPE html>
<html>
    <head th:replace="layout/plantilla :: head">
        <title>Puestos</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        </br>
        </br>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div id="contenido">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">   
                            <button 
                                type="button" 
                                class="btn btn-primary btn-block" 
                                data-bs-toggle="modal" 
                                data-bs-target="#agregarPuesto">
                                <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                            </button>
                        </div>
                    </div>
                </div>
        </section>
        </br>
        </br>
        <div class="container">
            <div class="row">
                <div class="col-md-15">
                    <div class="card">
                        <div class="card-header">
                            <h4>[[#{puesto.titulo}]]</h4>
                        </div>
                        <div th:if="${puestos != null and !puestos.empty}">
                            <table class="table table-stryped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>ID Puesto</th>
                                        <th>Nombre</th>
                                        <th>Salario Minimo</th>
                                        <th>Salario Maximo</th>
                                        <th>Direccion</th>
                                        <th>Telefono</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="puesto : ${puestos}">
                                        <td>[[${puesto.idPuesto}]]</td>
                                        <td>[[${puesto.nombre}]]</td>
                                        <td>[[${puesto.salariomin}]]</td>
                                        <td>[[${puesto.salariomax}]]</td>

                                        <td>
                                            <a sec:authorize="hasRole('ROLE_ASD')" th:href="@{/puesto/eliminar/}+${puesto.idPuesto}"
                                               class="btn btn-danger">
                                                <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                            </a>
                                        </td>
                                        <td>
                                            <a sec:authorize="hasRole('ROLE_ASD')" th:href="@{/puesto/modificar/}+${puesto.idPuesto}"
                                               class="btn btn-success">
                                                <i class="fas fa-angle-double-right"></i> [[#{accion.actualizar}]]
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center p-2" th:if="${puestos == null or puestos.empty}">
                            <span th:text="#{puesto.no_mostrar}">Lista vacía</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section th:fragment="agregarPuesto">
        <div id="agregarPuesto" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title" >Agregar Puesto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> 
                    <form th:action="@{/puesto/guardar}" th:object="${puesto}"
                          method="POST" class="was-validated">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="nombre" th:text="#{puesto.nombre}">Nombre</label>
                                <input type="text" class="form-control" name="nombre" required="true">
                            </div>
                            <div class="form-group">
                                <label for="apellido" th:text="#{puesto.apellido}">apellido</label>
                                <input type="text" class="form-control" name="apellido" required="true">
                            </div>
                            <div class="form-group">
                                <label for="correo" th:text="#{puesto.correo}">correo</label>
                                <input type="text" class="form-control" name="correo" required="true">
                            </div>
                            <div class="form-group">
                                <label for="direccion" th:text="#{puesto.direccion}">direccion</label>
                                <input type="text" class="form-control" name="direccion" required="true">
                            </div>
                            <div class="form-group">
                                <label for="telefono" th:text="#{puesto.telefono}">telefono</label>
                                <input type="number" class="form-control" name="telefono" required="true" step="any">
                            </div>
                            <div class="form-group">
                                <label for="username" th:text="#{puesto.username}">username</label>
                                <input type="text" class="form-control" name="username" required="true">
                            </div>
                            <div class="form-group">
                                <label for="password" th:text="#{puesto.password}">password</label>
                                <input type="password" class="form-control" name="password" required="true">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    </br><!-- comment -->
    </br><!-- comment -->

</body>
<footer th:replace="layout/plantilla :: footer"/>
</html>