<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregar">
                            <i class="fas fa-plus"></i> Nuevo
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="listado" id="empleados">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Empleados</h4>
                            </div>
                            <div th:if="${empleados != null and !empleados.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Primer Apellido</th>
                                            <th>Segundo Apellido</th>
                                            <th>Alias</th>
                                            <th>IBAN</th>
                                            <th sec:authorize="hasRole('ROLE_ADMIN')">Salario</th>
                                            <th>Estado</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="empleado, contador : ${empleados}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${empleado.nombre}]]</td>
                                            <td>[[${empleado.apellido1}]]</td>
                                            <td>[[${empleado.apellido2}]]</td>
                                            <td>[[${empleado.alias}]]</td>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')">[[${empleado.iban}]]</td>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')">[[${empleado.Salario}]]</td>
                                            <td>[[${empleado.estado}]]</td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/empleado/eliminar/}+${empleado.idEmpleado}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-angle-double-right"></i> Eliminar
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/empleado/modificar/}+${empleado.idEmpleado}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-angle-double-right"></i> Actualizar
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success" th:href="@{/empleadopuesto/modificar/}+${empleado.idEmpleado}">
                                                    <i class="fas fa-angle-double-right"></i> Rol
                                                </a>
                                            </td>
                                                                    
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${empleados == null or empleados.empty}">
                                <span>Lista vacía</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="agregar">
            <div id="agregar" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar Empleado</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/empleado/guardar}" th:object="${empleado}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <section th:replace="empleado/fragmentos :: camposForm"/>    
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="camposForm">
            <div th:if="${empleado == null}">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" required="true">
                </div>
                <div class="form-group">
                    <label for="nombre">Primer Apellido</label>
                    <input type="text" class="form-control" name="apellido1" required="true">
                </div>
                <div class="form-group">
                    <label for="nombre">Segundo Apellido</label>
                    <input type="text" class="form-control" name="apellido2" required="true">
                </div>
                <div class="form-group">
                    <label for="salariomin">Alias</label>
                    <input type="text" class="form-control" name="alias" required="true">
                </div>
                <div class="form-group">
                    <label for="salariomax">IBAN</label>
                    <input type="text" class="form-control" name="iban" required="true">
                </div>
                <div class="form-group">
                    <label for="nombre">Salario</label>
                    <input type="number" class="form-control" name="salario" required="true">
                </div>
                <div class="form-group">
                    <label for="nombre">Estado</label>
                    <input type="text" class="form-control" name="estado" required="true">
                </div>
                <div class="form-group">
                    <label for="nombre">Password</label>
                    <input type="Password" class="form-control" name="password" required="true">
                </div>
            </div>
            <div th:if="${empleado != null}">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" required="true" th:value="${empleado.nombre}">
                </div>
                <div class="form-group">
                    <label for="apellido1">Primer Apellido</label>
                    <input type="text" class="form-control" name="apellido1" required="true" th:value="${empleado.apellido1}">
                </div>
                <div class="form-group">
                    <label for="apellido2">Segundo Apellido</label>
                    <input type="text" class="form-control" name="apellido2" required="true" th:value="${empleado.apellido2}">
                </div>
                <div class="form-group">
                    <label for="alias">Alias</label>
                    <input type="text" class="form-control" name="alias" required="true" th:value="${empleado.alias}">
                </div>
                <div class="form-group">
                    <label for="iban">IBAN</label>
                    <input type="text" class="form-control" name="iban" required="true" th:value="${empleado.iban}">
                </div>
                <div class="form-group">
                    <label for="salario">Salario</label>
                    <input type="number" class="form-control" name="salario" required="true" th:value="${empleado.salario}">
                </div>
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <input type="text" class="form-control" name="estado" required="true" th:value="${empleado.estado}">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="Password" class="form-control" name="password" required="true" th:value="${empleado.password}">
                </div>
            </div>
        </section>

        <section th:fragment="editar">            
            <form method="POST"
                  th:action="@{/empleado/guardar}"
                  th:object="${empleado}"
                  class="was-validated">
                <input type="hidden" name="idEmpleado" th:field="*{idEmpleado}"/>
                <section th:replace="empleado/fragmentos :: botonesEditar"/> 
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Actualizar</h4>
                                    </div>
                                    <div class="card-body">
                                        <section th:replace="empleado/fragmentos :: camposForm"/>         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <section th:fragment="botonesEditar">
            <div id="actions" class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:href="@{/empleado/lista}" class="btn btn-ligth btn-block">
                                <i class="fas fa-arrow-left"></i>Regresar
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i>Guardar
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a th:href="@{/empleado/eliminar/}+${empleado.idEmpleado}"
                               class="btn btn-danger btn-block">
                                <i class="fas fa-trash"></i>Eliminar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>