<!DOCTYPE html>
<html>
    <head th:replace="layout/plantilla :: head">
        <title>Productos</title>
    </head>
    <body style="height: 80%">
        <header th:replace="layout/plantilla :: header"/>
        <section th:replace="marca/fragmentosMarca :: botonesAgregar"/>
        <section th:replace="marca/fragmentosMarca :: searchBar"/>
        <section th:replace="marca/fragmentosMarca :: agregarProducto"/>
        <section th:replace="marca/fragmentosMarca :: listaProductos"/>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
    
</html>