<!DOCTYPE html>
<html>
    <head th:replace="layout/plantilla :: head">
        <title>Busqueda</title>
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <img class="imagenLogo" src="/static/imagenes/logoSad2.png" alt="logo de el supermercado" width="100" height="90" th:src="@{imagenes/logoSad2.png}"/>
                <a th:href="@{/}" class="nav-link logo">SAD</a>

                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/informacion.html}">Informacion</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/contacto/Contacto.html}">Contacto</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/informacion/informacion.html}">Carrito</a></li>
                </ul>
            </nav>
        </header>

        <div>
            <h2>Nuestros productos</h2>
            <div th:if="${producto.nombre == producto}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Existencias</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${productos}">
                            <td th:text="${item.nombre}"></td>
                            <td th:text="${item.descripcion}"></td>
                            <td th:text="${item.precio}"></td>
                            <td th:text="${item.existencias}"></td>
                            <td><a th:href="@{/}">Añadir al carrito</a></td><!--th:href="@{/productos/añadirCarrito/} + ${item.idProducto}"-->
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${producto.nombre != producto}">
                <p>No existe ese producto </p>
            </div>
        </div>
    </body>
    <footer th:replace="layout/plantilla :: footer" />
</html>
