<!DOCTYPE html>
<html>
    <html>
        <head th:replace="layout/plantilla :: head">
            <title>Informacion</title>
        </head>
        <body>
            <header th:replace="layout/plantilla :: header"> </header>

            <section id="contenido">
                <br>
                <h2 class="text-center"> <i class="fas fa-comments-question-check text-black"> </i>Historia</h2>
                <br>
                <p class="text-center">Nuestra historia inicia en el año 2022, debido a un proyecto de emprededurismo para la Universidad Fidelitas</p>
                <p class="text-center">Donde decidimos formar este supermercado para la atencion de las necesidades de nuestros clientes. Utilizando las mejores herramientas tecnologicas disponibles.</p>
                <br>
                <h2 class="text-center">Mision</h2>
                <br>
                <p class="text-center"><i>Brindar un metodo de compra de productos simplificado y utilizando el metodo de compras en linea para la mayor comodidad del usuario desde su casa.</i></p>
                <br>
                <h2 class="text-center">Ubiquenos</h2>
                <br>
                <iframe class="text-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.134264440107!2d-83.98318528831976!3d9.922774293239248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e124393f2563%3A0xf555c10cbd765f0d!2sProvincia%20de%20Cartago%2C%20Dulce%20Nombre%2C%20La%20Uni%C3%B3n!5e0!3m2!1ses-419!2scr!4v1657692232057!5m2!1ses-419!2scr" width="400" height="300" style="border:0; margin-left: 38%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </body>
        <footer th:replace="layout/plantilla :: footer" />
    </html>